<div class="card bg-dark text-white mt-5">
    <div class="card-header">Nuevo Registro</div>
    <hr>
    <div class="card-body">
        <form action="">
            <div class="form-group row">
                <label for="carrera-tecnica" class="col-sm-2">Carrera Técnica</label>
                <div class="col-sm-6">
                    <input type="text" [(ngModel)] = "carreraTecnica.nombre" class="form-control" placeholder="Nombre de la carrera" name="carrera-tecnica">
                </div>
            </div>
            <div class="form-group row">
                <div>
                    <button class="btn btn-primary" (click)="guardar()" *ngIf="!carreraTecnica.carreraId else elseBlock">Guardar</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)="actualizar()">Actualizar</button>
                    </ng-template>
                    <!--<button class="btn btn-primary" (click)="actualizar()" *ngIf="carreraTecnica.carreraId">Actualizar</button>-->
                </div>
            </div>
        </form>
    </div>
</div>