<div class="container mt-5">
<div class="row row-cols-3 g-3">

<div *ngFor="let item of data" class="col">    
      <div class="card" style="width: 18rem;">
        <img src={{item.sprites.front_default}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">Experience: {{item.base_experience}}</p>
          <a href="#" class="btn btn-primary">Weight: {{item.weight}}</a>
        </div>
      </div>
</div>
</div>
</div>