<nav class="navbar sticky-top navbar-expand-sm w-100 navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Kalum</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['carreraTecnica']">CarreraTecnica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['jornada']">Jornada</a>
          </li>
          <li *ngIf="authService.isAuthenticated()" class="nav-item">
            <a class="nav-link" [routerLink]="['aspirante']">Aspirantes</a>
          </li>
          <li *ngIf="authService.isAuthenticated()" class="nav-item">
            <a class="nav-link" [routerLink]="['examenAdmision']">Examen Admision</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['resultadoExamenAdmision']">Resultados</a>
          </li>
          <ul class="navbar-nav">
            <li *ngIf="!authService.isAuthenticated()">
                <a class="btn btn-outline-primary" [routerLink]="['login']">Login</a>
            </li>
          </ul>
          <!--<li class="nav-item">
            <a class="nav-link" [routerLink]="['logout']">Logout</a>
          </li>-->

          <div *ngIf="authService.isAuthenticated()" class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              {{authService.usuario.username}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="#">
                  <button (click)="authService.logout()" class="dropdown-item" type="submit">
                    Sing out
                  </button>
                </a>
              </li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  <!---Crear componente que se llama logout-->
  </nav>