<ul class="pagination" *ngIf="paginas.length > 0">
    <!--<li class="page-item" *ngIf="paginador.number > 0">
        <a class="page-link" routerLink="/{{urlEndPoint}}/page/{{paginador.number-1}}">&laquo;</a>
    </li>-->
    <li [ngClass] = "paginador.first? 'disabled page-item': 'page-item'">
        <a class="page-link" routerLink="/{{urlEndPoint}}/page/0">Primera</a>
    </li>
    <li *ngFor="let pagina of paginas" [ngClass]="pagina-1 == paginador.number? 'page-item active': 'page-item'" class="page-item">
        <span class="page-link" *ngIf="pagina-1 == paginador.number">{{pagina}}</span>
        <a class="page-link" *ngIf="pagina-1 != paginador.number" routerLink = "/{{urlEndPoint}}/page/{{pagina-1}}">{{pagina}}</a>
    </li>
    <li [ngClass]="paginador.last? 'disabled page-item':'page-item'" >
        <a class="page-link" routerLink="/{{urlEndPoint}}/page/{{paginador.totalPages-1}}">Ultima</a>
    </li>
    <li class="page-item" *ngIf="paginador.number < paginador.totalPages-1">
    </li>
</ul>
<!--<a class="page-link" routerLink="/{{urlEndPoint}}/page/{{paginador.number+1}}">&laquo;</a>-->